# 节点数量
NNODES=2

# 主节点地址
MASTER_ADDR=192.168.0.1

# 主节点端口
MASTER_PORT=29500

# 是否强制使用torchrun (1=true, 0=false)
FORCE_TORCHRUN=1

# 训练配置文件路径
YAML_PATH=examples/train_lora/llama3_lora_sft.yaml

SSH_USER=***
SSH_PORT=***
SSH_PASSWORD=***

DOCKER_NAME=***
LOG_FILE=log.txt

NODE_RANKS="0:192.168.0.1;1:192.168.0.2;2:192.168.0.3;3:192.168.0.4"
